<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file name="File" value="Unify - Prerequisites analyser - Debug.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <!-- tells Log4Net to put new entries at the end of the file. -->
      <rollingStyle value="Size" />
      <!-- is specific for the RollingFileAppender, and specifies the criteria type for when it should "roll" i.e. create a new file. In this case we will specify a max file size. -->
      <maxSizeRollBackups value="2" />
      <!-- is for specifying the maximum number of log files to keep. In this case, it will not keep more than two log files. -->
      <maximumFileSize value="1MB" />
      <!-- element lets us set a log file size limit, which is nice if you want to keep control of disk space usage. In combination with the above element, it will keep two files with a maximum size each of 1MB. -->
      <staticLogFileName value="true" />
      <!-- means that it will not change the file name, just the extension. -->
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>-->
        <param name="ConversionPattern" value="%date [%thread] %-5level (%logger:%line) - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!-- Prerequisites paths -->
    <add key="File-Path-Delete-Setup" value="deletesetup.bat" />
    <add key="File-Path-Delete-Siemens" value="deletesiemens.bat" />
    <add key="File-Path-Microsoft-WSE-2.0-SP3-Runtime" value="Microsoft WSE 2.0 SP3.msi" />
    <add key="File-Path-Microsoft-WSE-3.0" value="Microsoft WSE 3.0.msi" />
    <add key="File-Path-Microsoft-.NET-Framework-3.5-SP1" value="Microsoft-.NET-Framework-3.5-SP1.exe" />
    <add key="File-Path-Microsoft-Visual-C++-2005-Redistributable" value="Microsoft-Visual-C++-2005-Redistributable.exe" />
    <add key="File-Path-Microsoft-Visual-C++-2008-Redistributable" value="vcredist_x86.exe" />
    <add key="File-Path-Microsoft-Visual-C++-2010-x86-Redistributable" value="Microsoft-Visual-C++-2010-x86-Redistributable.exe" />
    <add key="File-Path-Microsoft-Visual-C++-2010-x64-Redistributable" value="Microsoft-Visual-C++-2010-x64-Redistributable.exe" />
    <add key="File-Path-Unify-SuperPackagePackage" value="FusionDeployment.exe" />
    
    <add key="File-Path-JRE-x86" value="FilePathJRE" />
    <add key="File-Path-Unify-SuperPackage" value="C:\temp\setup\" />
  
    <!-- Variables -->
    <add key="Unify-Appdata-Folder" value="%Appdata%\Siemens" />
    <add key="Communicator-Process-Name" value="Communicator" />
    <add key="Outlook-Process-Name" value="Outlook" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>